---
import Metadata from "../components/Metadata.astro";
import Project from "../components/Project.astro";
---

<html>
    <Metadata />
    <body class="prose lg:prose-xl">
        <!-- projects  -->
        <Project
            title="Vocal"
            mainLink="https://github.com/Jackboxx/vocal"
            image="/img/vocal.png"
            reverseHorizontal={true}
        >
            Vocal is a terminal based user interface that plays audio and music and looks
            cool while doing it. I wrote this project using the <a
                target="_blank"
                href="https://crates.io/crates/tui">tui-rs</a
            >
            Rust crate to create the UI and other crates like
            <a href="https://crates.io/crates/rodio" target="_blank">rodio</a>
            to manage music playback. <br />
            The whole project is available as an open-source project on GitHub along with up
            to date documentation on how to configure the interface and functionality to your
            liking. <br />
        </Project>

        <Project
            title="Rust CLI Tools"
            mainLink="https://github.com/stars/Jackboxx/lists/rust-cli-tools"
            image="/img/rust-cli-tools.png"
            reverseHorizontal={false}
        >
            This is an ever growing list of command line tools I wrote either for fun or
            to solve some problem I had when working. <br />
            Currently my favorite one has to be
            <a target="_blank" href="https://github.com/Jackboxx/archwiki-rs"
                >archwiki-rs</a
            >
            which is a small utility I made to fetch pages from the
            <a href="https://wiki.archlinux.org/" target="_blank">ArchWiki</a>. I often
            found myself needing to look up a command or file location in the ArchWiki but
            I had to navigate to the website and search for the page I needed every
            time... <br />
            So I made a CLI web-scrapper that gets the contents of a particular page directly
            into my terminal + it shows me recommendations for page titles in case a page I
            am looking for does not exist. <br />
            At this point there are also plugins that use this tool to integrate into
            <a href="https://github.com/Jackboxx/archwiki-obsidian" target="_blank"
                >Obsidian</a
            > and
            <a href="https://github.com/Jackboxx/archwiki-nvim" target="_blank">Neovim</a>
        </Project>
    </body>
</html>
