<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
        name="description"
        content="My personal website to show of the things I can do"
    />
    <meta name="keywords" content="programming, cv, homepage, june gschwantner" />
    <meta name="author" content="June Gschwantner" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap"
        rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap"
        rel="stylesheet"
    />
    <meta property="og:title" content="June Gschwantner" />
    <meta
        property="og:description"
        content="My personal website to show of the things I can do"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="junegschwantner.com" />
    <meta property="og:image" content="/img/open-graph.png" />
    <meta name="twitter:card" content="summary" />

    <title>June Gschwantner</title>
    <link rel="icon" href="%sveltekit.assets%/favicon.jpg" />
</head>
