---
interface Props {
    title: string;
    image: string;
    mainLink: string;
    reverseHorizontal?: boolean;
}

const { title, image, mainLink, reverseHorizontal } = Astro.props;
---

<span
            class="bg-gradient-to-bl from-primary-light to-secondary-light bg-clip-text
                    font-sans text-xl font-bold text-center w-full text-[#00000000] sm:text-lg md:text-xl lg:text-3xl"
            >{title}</span>
<div
    class={`tmp m-4 my-24 flex h-full flex-col-reverse items-center gap-2 sm:justify-around sm:gap-0`}
    style={`--direction: ${reverseHorizontal ? "row-reverse" : "row"}`}
> 
    <div
        class="bg-bg-light text-text-light dark:bg-bg-dark dark:text-text-dark aspect-[4/3] w-full min-w-[300px] rounded
            p-4 text-lg shadow-2xl sm:w-[40%] 2xl:text-3xl"
    >
        <slot />
    </div>
    <div
        class="relative aspect-[4/3] w-full min-w-[300px] rounded-sm border-2 border-accent-light shadow-2xl sm:w-[40%] dark:border-accent-dark"
    >
        <a
            class="absolute z-10 h-full w-full cursor-pointer"
            target="_blank"
            href={mainLink}
        >
            <img class="shimmer h-full w-full object-cover" src={image} alt={title} />
        </a>
    </div>
</div>

<style>
    .shimmer {
        -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/500% 100%;
        mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/500% 100%;
    }

    .shimmer:hover {
        animation: shimmer 750ms;
    }

    @keyframes shimmer {
        100% {
            -webkit-mask-position: left;
            mask-position: left;
        }
    }

    @media (min-width: 640px) {
        .tmp {
            flex-direction: var(--direction);
        }
    }
</style>
